<tr>
  <td>{{this.userName}}</td>
  <td>{{this.userPassword}}</td>
  <td>{{this.userEmail}}</td>
  <td>
    <form class="deleteButton" method="post" action="deleteAccount">
      <input type = "hidden" name = "userid" value = "{{this.userID}}" />
      <input type="submit" value="Delete">
    </form>
  </td>
</tr>
