<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles.css">
<a href="home">
<header>
  <h2>Trading Cards Finance</h2>
  <a href="login">
    <div class="login">Login</div>
  </a>
  <a href="accountCreation">
    <div class="login2">Create Account</div>
  </a>
</header>
</a>

<body>
    {{{body}}}


</body>
</html>
