<ul>
  <a href="Account"><li>Account: Eric543</li></a>
  <a href="Deck"><li>Deck: Caravan</li></a>
  <a href="Collection"><li>Collection: main</li></a>
  <a href="Cards"><li>Card Database</li></a>

  <!-- <li><a href="#settings">Settings</a></li>-->
</ul>

<body>
  <form>
    <h3>Create Your Account</h3><br>
    <label for="Account_Name">Name:</label>
    <input type="text" id="AccountName" name="Account_Name">
    <label for="Deck_Name">Passsword:</label>
    <input type="text" id="AccountPasssword" name="Account_Passsword">
    <label for="Confirm_Account_Passsword">Confirm Passsword:</label>
    <input type="text" id="ConfirmAccountPasssword" name="Confirm_Account_Passsword">
    <label for="Account_Email">Email:</label>
    <input type="text" id="AccountEmail" name="Account_Email">
    <input type="submit" value="Create">
  </form>
</body>
