<ul>
  <a href="Account"><li style="background-color:orange">Account</li></a>
  <a href="Deck"><li>Deck</li></a>
  <a href="Collection"><li>Collection</li></a>
  <a href="Cards"><li>Card Database</li></a>

  <!-- <li><a href="#settings">Settings</a></li>-->
</ul>
<div class = "AccountName">
  Eric432
</div>
<div class="dropdown">
<span>Select Account</span>
<div class="dropdown-content">
  <a href=Deck>Caravan</a>
  <a href=Deck>Mill Control</a>
  <a href=Deck>Deck 3</a>
  <a href=Deck>Deck 4</a>
</div>
</div>

<form>
<body>
  <div>
      Unique Cards Owned: <br>
      5
  </div>
  <div>
      Total Decks:<br>
      4
  </div>
  <div>
      Total Collections:<br>
      1
  </div>
  <div>
      Collections Total:<br>
      $180,369.68
  </div>
  <div>
      Card Total:<br>
      32
  </div>
  <div>
      Most Valuable Deck:<br>
      Caravan
  </div>
  <div>
      Most Valuable Card:<br>
      Black Lotus
  </div>
  <div>
      To Complete Decks:<br>
      $7499.99
  </div>
</form>
<table style="width:100%">
  <tr>
    <th>User Name</th>
    <th>Password</th>
    <th>Email</th>
  </tr>
  {{#each data}}
    {{> account}}
  {{/each}}

</table>
<form class="addCollection" action="Account">
  <h3>Create New Collection</h3><br>
  <label for="Collection_Name">Collection Name:</label>
  <input type="text" id="newCollectionName" name="Collection_Name">
  <input type="submit" value="Create">
</form>
