<ul>
  <a href="Account"><li>Account</li></a>
  <a href="Deck"><li>Deck</li></a>
  <a href="Collection"><li>Collection</li></a>
  <a href="Cards"><li style="background-color:orange">Card Database</li></a>

  <!-- <li><a href="#settings">Settings</a></li>-->
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="searchbar" action="Cards">
<input type="text" placeholder="Search..." name="search">
<button type="submit"><i class="fa fa-search"></i></button>
<input type="checkbox" id="forSale" name="sale">
<label for="forSale"> For Sale</label><br>
</form>

<table style="width:100%">
  <tr>
    <th>Card Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>For Sale</th>
  </tr>
  {{#each data}}
    {{> upload}}
  {{/each}}

</table>

<form class="addCard" method="post" action="addCardData">
  <h3>Add Card</h3><br>
  <label for="Card_Name">Card Name:</label>
  <input type="text" id="Card_Name" name="Card_Name">
  <label for="Description">Description:</label>
  <input type="text" id="Description" name="Description">
  <label for="Price">Price:</label>
  <input type="text" id="Price" name="Price">
  <label for="ForSale">For Sale:</label>
  <input type="checkbox" id="ForSale" name="ForSale">
  <input type="submit" value="Submit">
</form>

<form class="updateCard" method="post" action="updateCard">
  <h3>Update Card</h3><br>
  <select id="Card_Name" name="Card_Name">
      <option value="">Select Card</option>
      {{#each data}}
      <option value="{{this.cardName}}">{{this.cardName}}</option>
      {{/each}}
  </select>
  <label for="Description">Description:</label>
  <input type="text" id="Description" name="Description">
  <label for="Price">Price:</label>
  <input type="text" id="Price" name="Price">
  <label for="ForSale">For Sale:</label>
  <input type="checkbox" id="ForSale" name="ForSale">
  <input type="submit" value="Submit">
</form>
