<ul>
  <a href="Account"><li>Account: Eric543</li></a>
  <a href="Deck"><li>Deck: Caravan</li></a>
  <a href="Collection"><li>Collection: main</li></a>
  <a href="Cards"><li style="background-color:orange">Card Database</li></a>

  <!-- <li><a href="#settings">Settings</a></li>-->
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="searchbar" action="Cards">
<input type="text" placeholder="Search..." name="search">
<button type="submit"><i class="fa fa-search"></i></button>
<input type="checkbox" id="forSale" name="sale">
<label for="forSale"> For Sale</label><br>
</form>

<table style="width:100%">
  <tr>
    <th>Card Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>For Sale</th>
  </tr>
  {{#each data}}
    {{> upload}}
  {{/each}}


</table>
