<ul>
  <a href="Account"><li>Account</li></a>
  <a href="Deck"><li>Deck</li></a>
  <a href="Collection"><li style="background-color:orange">Collection</li></a>
  <a href="Cards"><li>Card Database</li></a>

  <!-- <li><a href="#settings">Settings</a></li>-->
</ul>

<body>

  <div class="dropdown">
  <span>Select Collection</span>
  <div class="dropdown-content">
    <a href=Collection>Main</a>
  </div>
</div>
<div class="dropdown">
  <a>Delete Collection</a>
</div>


  <table style="width:100%">
    <tr>
      <th>Quantity</th>
      <th>Card Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>For Sale</th>
    </tr>
    {{#each data}}
      {{> collectionCards}}
    {{/each}}

  </table>
  <form class="addCollection" action="Account">
    <h3>Create New Collection</h3><br>
    <label for="Collection_Name">Collection Name:</label>
    <input type="text" id="newCollectionName" name="Collection_Name">
    <input type="submit" value="Create">
  </form>

  <form class="addCard" action="Collection">
    <h3>Add Card</h3><br>
    <label for="Card_Name">Card Name:</label>
    <input type="text" id="Card_Name" name="Card_Name">
    <label for="Quantity">Quantity:</label>
    <input type="text" id="Quantity" name="Quantity">
    <input type="submit" value="Submit">
  </form>
  <tr>
    <p style="color:blue">Total collection cost: $180,369.68</p>
  </tr>
