<ul>
  <a href="Account"><li>Account</li></a>
  <a href="Deck"><li  style="background-color:orange">Deck</li></a>
  <a href="Collection"><li>Collection</li></a>
  <a href="Cards"><li>Card Database</li></a>
</ul>

<body>

  <div class="dropdown">
  <span>DeckName : {{deckName}}</span>
  <div class="dropdown-content">
    {{#each deckList}}
    <form class="{{this.deckName}}" action="Deck">
      {{this.deckName}}
      <input type = "hidden" name = "deckName" value = "{{this.deckID}}" />
      <input type="submit" value="Go"><br>
    </form>
    {{/each}}

  </div>
</div>
<div class="dropdown">
  <a>Delete Deck</a>
</div>


  <table style="width:100%">
    <tr>
      <th>Quantity</th>
      <th>Card Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>For Sale</th>
      <th>In Collection</th>
    </tr>
    {{#each data}}
      {{> deckCard}}
    {{/each}}
  </table>

  <form class="addCard" action="Deck">
    <h3>Add Card</h3><br>
    <label for="Card_Name">Card Name:</label>
    <input type="text" id="Card_Name" name="Card_Name">
    <label for="Quantity">Quantity:</label>
    <input type="text" id="Quantity" name="Quantity">
    <input type="submit" value="Submit">
  </form>
<tr>
  <p style="color:red">Total number of cards, 30 in the deck, 30 more required for a full deck</p>
</tr>
