<html>
<style>
  header {
    background-color: #4000ff;
    padding: 30px;
    text-align: left;
    font-size: 25px;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
  }

  li {
    font-size: 25px;
    display: inline;
    padding: 10px;
    border: 1px solid black;
  }

  tr, th {
    border: 1px solid black;
  }

  tr:hover {background-color: #f5f5f5;}

  td {
    border: 1px dotted black;
  }
</style>
<link rel="stylesheet" href="styles.css">
<header>
  <h2>Trading Cards Finance</h2>
</header>

<ul>
  <li>Account: Eric543</li>
  <li>Deck: Caravan</li>
  <li>Collection: main</li>
  <li><a href="#settings">Settings</a></li>
</ul>

<body>
  <table style="width:100%">
    <tr>
      <th>Card Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>For Sale</th>
    </tr>
    <tr>
      <td>Black Lotus</td>
      <td>Edition:	Alpha<br>
Type:	Artifact<br>
Cast:<img style="margin:1px;" src="views/mana_0.png"><br>
Rarity:	R<br>
<img style="margin:1px;" src="views/tap.png">, Sacrifice Black Lotus: Add three mana of any one color to your mana pool.</td>
      <td>$144999.99</td>
      <td>NO</td>
    </tr>
    <tr>
      <td>Bandlands</td>
      <td>Edition:	Alpha<br>
Type:	Land - Swamp Mountain<br>
Cast:<br>
Rarity:	R<br>
<img style="margin:1px;" src="tap.png">: Add <img style="margin:1px;" src="mana_b.png">  or <img style="margin:1px;" src="mana_r.png"> to your mana pool.</td>
      <td>$7499.99</td>
      <td>YES</td>
    </tr>
  </table>
</body>
</html>
