
  body {
    border: 16px ridge black;
    border-radius: 20px;
  }
  header {
    text-decoration-line: none;
    background-image: linear-gradient(
      to right,
      orange,
      #FeFeFe,
      #4000ff
    );
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
  }

  a {
    text-decoration-line: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
  }

  li {
    font-size: 25px;
    display: inline;
    padding: 10px;
    border: 1px solid black;
  }

  tr, th {
    border: 1px solid black;
  }

  tr:hover {background-color: #f5f5f5;}

  td {
    border: 1px dotted black;
  }

  form {
    padding: 20px;
    border: 1px solid black;
  }

  p {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 30px;
  }

  div {
    font-size: 25px;
    display: inline-block;
    text-align: center;
    width: 23%;
    padding: 3px;
    border: 1px solid black;
    margin: 4;
  }

  h3 {
    margin: 4;
  }
  h2 {
    color: orange;
  }


 * {
  box-sizing: border-box;
}

  /* Style the search field */
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
