
  body {
    border: 16px ridge black;
    border-radius: 20px;
  }
  header {
    text-decoration-line: none;
    background-image: linear-gradient(
      to right,
      orange,
      #FeFeFe,
      #4000ff
    );
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: white;
  }

  a {
    text-decoration-line: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
  }

  li {
    font-size: 25px;
    display: inline;
    padding: 10px;
    border: 1px solid black;
  }

  tr, th {
    border: 1px solid black;
  }

  tr:hover {background-color: #f5f5f5;}

  td {
    border: 1px dotted black;
  }

  form {
    padding: 20px;
    border: 1px solid black;
  }

  p {
    font-size: 36px;

    line-height: 30px;
  }

  div {
    font-size: 25px;
    display: inline-block;
    text-align: center;
    width: 23%;
    padding: 3px;
    border: 1px solid black;
    margin: 4;
  }

  h3 {
    margin: 4;
  }
  h2 {
    color: orange;
  }


 * {
  box-sizing: border-box;
}

.login{
  position: absolute;
  top: 20px;
  right: 200px;
  width: 180px;
  background: #f1f1f180;
}

.login2{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 180px;
  background: #f1f1f180;
}

  /* Style the search field */
  form.searchbar input[type=text] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  /* Style the submit button */
  form.searchbar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #4000ff;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.searchbar button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  form.searchbar::after {
    content: "";
    clear: both;
    display: table;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
